.env
.venv/
__pycache__/
.pytest_cache/
*.py[cod]

backend/*.egg-info/
backend/dist/
backend/build/

food pic/
dataset/

mobile/.dart_tool/
mobile/.flutter-plugins-dependencies
mobile/build/
mobile/android/local.properties
mobile/ios/Flutter/ephemeral/
